<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Redirect to HTTPS if not already
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    
    # Prevent access to config file
    <Files "config.php">
        Order Allow,Deny
        Deny from all
    </Files>
</IfModule>

# Disable directory listing
Options -Indexes

# Protect files and directories
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>